* {box-sizing: border-box;}
body {font-family: 'Playfair Display', serif; margin: 0;text-align: center}
h1 {font-weight: normal;color: #6A5953}
kbd {font-size: 0.9em;display:inline-block;line-height:1.1;}
.wrap {
  display: inline-block;
  margin: 0 40px 2em 0;
  background: rgba(228, 225, 228, .5);
}
div {
  width: 170px;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.one, .four, .seven, .ten {
  background: rgba(135, 86, 120, .4);
}
.one:hover {
  /*Ваши значения*/
}
.two, .five, .eight, .eleven {
  background: rgba(0, 228, 246, .4);
}
.two:hover {
  /*Ваши значения*/
}
.three, .six, .nine {
  background: rgba(255, 153, 0, .4);
}
.three:hover {
  /*Ваши значения*/
}
.four:hover {
  /*Ваши значения*/
}
.five:hover {
/*Ваши значения*/
}
.six:hover {
  /*Ваши значения*/
}
.seven:hover {
  /*Ваши значения*/
}
.eight:hover {
  /*Ваши значения*/
}
.nine:hover {
  /*Ваши значения*/

}
.ten:hover {
  /*Ваши значения*/
}
